.single-capability-content-area-1 {
  &__top-heading {
   font-weight: 700;
   color: $yellow;
  }

  &__title {
    font-weight: 300;
  }  
}

.single-capability-content-area-2 {
  @include blurb;

  &__title {
    color: $yellow;
    text-transform: none;
  }

  &__header {
    font-size: 3.4rem;
    font-weight: 800;
  }
}

.single-capability-cta {
@include cta-section;

  a {
    text-decoration: none;
  }

  p {
    font-weight: 500;
    color: #fff;
  }
}

.single-capability-project-tiles {
  @include project-tiles;
}