// Typography
$muli: 'Muli', sans-serif;
$mont: 'Raleway', sans-serif;
$h1: 4.5rem;
$h2: 2.3rem;
$h3: 1.5rem;
$h4: 1rem;
$h5: .8rem;

// Colors
$blue: #4ac1b4;
$gold: #c5a35f;
$darkgrey: #3C4146;
$yellow: #ffb500;
