.join-our-team {
    &__header {
        font-size: $h2;
        color: $yellow;
        font-weight: 800;
    }

    &__hero {
        width: 100%;
        padding: 0;
        height: 400px;
        background-position: center;
        background-size: cover;
    }
    
    &__form-header {
        font-size: $h2;
        color: $blue;
        font-weight: 800;
    }

    input, select {
        border: 1px solid #ccc;
        width: 100%;
        border-radius: 0;
    }

    small {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    form {
        width: 100%;
    }
}